<app-header titulo="Eventos"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="../../../assets/comida.jpg">
      <ion-card-subtitle>13 de marzo del 2022</ion-card-subtitle>
      <ion-card-title>Perroton</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      El Perrotón básicamente consiste en pedirle ayuda a la comunidad, alimento para perro y para gato. Pedimos
      productos de limpieza, materiales de curación, medicinas veterinarias, platos para mascotas, todo lo que se pueda
      usar para darles el cuidado de las mascotas que han sido rescatadas de las calles y posteriormente se ponen en
      adopción
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="../../../assets/campaña.jpg">
      <ion-card-subtitle>15 de marzo del 2022</ion-card-subtitle>
      <ion-card-title>Esterilizaacion de mascotas</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Esta campaña pretende recaudar fondos para esterilizar sin costo a perros y gatos de familias que demuestren no
      poder solventar una cirugía de este tipo, evitando con ello que esos animales tengan camadas de cachorros no
      deseadas, que corren el riesgo de vivir hacinadas, o ser abandonadas, agravando el problema de los animales
      callejeros.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="../../../assets/adopta.jpg">
      <ion-card-subtitle>23 de marzo del 2022</ion-card-subtitle>
      <ion-card-title>Adopton</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Si deseas adoptar un perro puedes acercarte a la Dirección de Protección y Bienestar Animal, dependencia de la
      Secretaria Municipal de Desarrollo Social y Económico y la Dirección de Salud del municipio de Benito Juárez, que
      está ubicada en la Avenida Nichupté, de la Región 99, Manzana 54, Lote 1.

      Todos los perros se entregan esterilizados, vacunados contra la rabia y desparasitados.
    </ion-card-content>
  </ion-card>

</ion-content>

<app-footer></app-footer>
