<app-header titulo="Eventos"></app-header>
<ion-content>
  <ion-grid>
    <ion-text color="medium" text-center>
      <p>You joined the chat as Foro</p>
    </ion-text>
    <ion-row *ngFor="let message of [1,1,1,]">

      <ion-col size="9" class="message other-message">
        <b>Luis</b><br>
        <span>alimentos para mi perro </span>
        <div class="time" text-right><br></div>
      </ion-col>

      <ion-col offset="3" size="9" class="message my-message">
        <b>Juana</b><br>
        <span>Purina dog show</span>
        <div class="time" text-right><br></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea auto-grow class="message-input" rows="1"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" class="msg-btn">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-content>

<app-footer></app-footer>