<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons >
      <ion-back-button mode="md" color="secondary" defaultHref="/">
      </ion-back-button>
    </ion-buttons>

    <ion-searchbar color="secondary" animated></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div cards>

    <div class="grid-full">
      <ion-row>
        <ion-col *ngFor="let i of [1,1,1,1]">
          <ion-card >
            <img style="padding-bottom: 0%;" src="../../../assets/pug.jpg">
            <h1 orange style="padding-top: 0px;">Perro Pug</h1>
            <ion-button  (click)="onClick()" color="danger">
              <ion-icon slot="icon-only" 
              name="heart" [name]="favorito?'heart':'heart-outline'">
            </ion-icon>
            </ion-button>
            <ion-button href="/description" color="primary">Ver</ion-button>
          </ion-card>
        </ion-col>

      </ion-row>
    </div>

  </div>


</ion-content>
 