<ion-toolbar color="primary">
  <ion-img src="/assets/logo.png"></ion-img>

  <ion-searchbar color="secondary" animated>
    <ion-button slot="end" routerLink='/searchresult'>
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-searchbar>

</ion-toolbar>

<ion-content>
  <ion-img src="/assets/logo2.png"></ion-img>
  <ion-text>

    <h1 class="text">Categorias</h1>

    <ion-item-divider style="background:white; height: 1px;"> </ion-item-divider>

    <div class="divisor-botton">
      <ion-button color="none" class="tamaño"
        style="background-image:url('../../../assets/icono-pyg.png'); background-size:cover" routerLink="/searchresult">
      </ion-button>
      <ion-button color="none" class="tamaño"
        style="background-image:url('../../../assets/icono-mam.png'); background-size:cover" routerLink="/searchresult">
      </ion-button>
      <ion-button color="none" class="tamaño"
        style="background-image:url('../../../assets/icono-aves.png'); background-size:cover"
        routerLink="/searchresult">
      </ion-button>
      <ion-button color="none" class="tamaño"
        style="background-image:url('../../../assets/icono-pez.png'); background-size:cover" routerLink="/searchresult">
      </ion-button>
      <ion-button color="none" class="tamaño"
        style="background-image:url('../../../assets/icono-reptil.png'); background-size:cover"
        routerLink="/searchresult">
      </ion-button>
    </div>

    <ion-item-divider style="background:white; height: 30px;"></ion-item-divider>

    <h1 class="text">Mas visitados</h1>
  </ion-text>

  <div cards>

    <div class="grid-full">
      <ion-row>
        <ion-col *ngFor="let i of [1,1,1,1,1]">
          <ion-card href="/description">
            <img style="padding-bottom: 0%;" src="../../../assets/gato-persa.jpg">

            <h1 orange style="padding-top: 2px;">Gato persa</h1>
          </ion-card>
        </ion-col>

      </ion-row>
    </div>

  </div>

</ion-content>

<app-footer></app-footer>