<ion-toolbar color="primary">
  <ion-img src="/assets/logo.png"></ion-img>


  <ion-searchbar color="secondary" animated></ion-searchbar>

  <ion-button routerLink='/searchresult' >
    <ion-icon name="search"></ion-icon>
   </ion-button>

</ion-toolbar>

<ion-content>
  <ion-img src="/assets/logo2.png"></ion-img>
  <ion-text>

    <h1 class="text">Categorias</h1>
    <ion-item-divider style="background:white; height: 1px;">
    </ion-item-divider>
    <ion-button color="none" class="tamaño"
      style="background-image:url('../../../assets/icono-pyg.png'); background-size:cover" routerLink="/home">
    </ion-button>
    <ion-button color="none" class="tamaño"
      style="background-image:url('../../../assets/icono-mam.png'); background-size:cover" routerLink="/schedule">
    </ion-button>
    <ion-button color="none" class="tamaño"
      style="background-image:url('../../../assets/icono-aves.png'); background-size:cover" routerLink="/schedule">
    </ion-button>
    <ion-button color="none" class="tamaño"
      style="background-image:url('../../../assets/icono-pez.png'); background-size:cover" routerLink="/schedule">
    </ion-button>
    <ion-button color="none" class="tamaño"
      style="background-image:url('../../../assets/icono-reptil.png'); background-size:cover" routerLink="/schedule">
    </ion-button>
    <ion-item-divider style="background:white; height: 30px;">
    </ion-item-divider>
    <h1 class="text">Mas visitados</h1>
  </ion-text>
  <div cards>

    <div class="grid-full">
      <ion-row>
        <ion-col>
          <ion-card  href="/description">
            <img src="../../../assets/gato-persa.jpg">
            <h1 orange>Gato persa</h1>
          </ion-card>
        </ion-col>

        <ion-col  href="/description">
          <ion-card>
            <img src="../../../assets/huron.jpg">
            <h1 grey>Huron</h1>
          </ion-card>
        </ion-col>

        <ion-col href="/description">
          <ion-card>
            <img src="../../../assets/rana-cristal.jpg">
            <h1 green>Rana cristal</h1>
          </ion-card>
        </ion-col>

        <ion-col  href="/description">
          <ion-card>
            <img src="../../../assets/pug.jpg">
            <h1 green>Perro pug</h1>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

  </div>

</ion-content>

<ion-footer color="secondary">
  <ion-toolbar color="secondary">
    <ion-row>
      <ion-col style="margin-left: 30px;">
        <ion-button style="margin-left: auto;" color="secondary" class="text-on-bottom" href="/forum">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="margin-left: auto;" color="secondary" class="text-on-bottom" href="/home-user">
          <ion-icon name="home-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="margin-left: auto;" color="secondary" class="text-on-bottom" href="/favorite">
          <ion-icon name="star-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="margin-left: auto;" color="secondary" class="text-on-bottom" href="/events">
          <ion-icon name="today-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>